/* to import font style */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


*{
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
}


/*  for background image */
body::before{
    content: " ";
    background: url('../static/images/home.jpg') center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 800px;
    width: 100%;
    opacity: 1;
    z-index: -1;
}

/* for header */
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000ed;
    position:fixed;
    width: 100%;
    z-index: +2;
}

/* for logo image */
#img img{
    height: 80px;
    width: 80px;
    filter: invert(1);
    border-radius: 60px;
}

/* for navigation bar */
#nav ul{
    display: flex;
}
#nav ul li{
     list-style: none;
     padding: 12px;
}
#nav ul li a{
    text-decoration: none;
}
#nav ul li a#home{
    color: #f36100;
    text-decoration: line-through;
}
#nav ul li a:hover{
     color:#f36100;
     text-decoration: line-through;
     cursor: pointer;
} 

/* for contacts on social media and search button */
#social ul{
    display: flex;
}
#social input{
    width: 50px;
}
#social ul li{
     list-style: none;
     padding: 8px;
}
#social ul li a{
     text-decoration: none;
}
#social ul li a img{
     height: 20px;
     width: 20px;
     filter: invert(1);
}

/* for footer */
.footer{
    position: relative;
    top: 543px;
    height: 500px;
    background-color: black;
}
.first{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}
.first div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.first div h5{
    font-family: Arial, Helvetica, sans-serif;
}
.first div img{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    filter: invert(1);
}
.first div img:hover{
    filter: invert(0);
}
.footer hr{
    border: 2px solid #f36100 ;
}
.second{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.second div{
    height: 230px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.second div ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    
}
.second div img{
    height: 80px;
    width: 80px;
    filter: invert(1);
    border-radius: 60px;
}
.second div p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: left;
    color: gray;
}
.second div ul#sc{
    display: flex;
    flex-direction: row;
    width: 100px;
}
.second div#firstBox{
    position: relative;
    left: 30px;
    top: 50px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.second div ul#sc li a img{
    height: 20px;
     width: 20px;
     filter: invert(1);
}
.second div h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #f36100;
}
.second div  ul p{
    width: 350px;
    height: 155px;
    text-align: center;
}
.second div ul li{
    list-style: none;
}
.second div ul p{
    color: rgb(85, 84, 84);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    height: 50px;
}
.second div ul li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    cursor: pointer;
}
.second div ul#tips li a{
    color: gray;
    font-family: 'Russo One', sans-serif;
    font-size: 12px;
}
div#uLink{
    position: relative;
    left: 115px;
}
.second div hr{
    border: 1px solid gray;
    position: relative;
    bottom: 8px;
}
hr#third{
    border: 1px solid gray;
    width: 70%;
    margin: auto;
}
.third{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 25px;
}
.third h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: gray;
    position: relative;
}
.third h4{
    font-size: medium;
    color: #f36100;
    position: relative;
    left: 5px;
}